<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NFCFZLLE.eventmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".NFCApplication"
        android:allowBackup="true"
        android:icon="@drawable/peugeot_logo"
        android:label="Event Management"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckInCheckOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Add a technology filter -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Peugeot_NFC_activity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- <data android:mimeType="event/management" /> -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <data android:mimeType="event/management" /> -->
            </intent-filter>

            <!-- Add a technology filter -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".Peugeot_profile_activity" />
        <!--<activity android:name=".Peugeot_NFC_activity" />-->
        <!-- <activity android:name="com.NFCFZLLE.eventmanagement.ScanNfcNew"> -->


        <!-- &lt;!&ndash; Add a technology filter &ndash;&gt; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.nfc.action.TECH_DISCOVERED" /> -->
        <!-- </intent-filter> -->


        <!-- <meta-data android:name="android.nfc.action.TECH_DISCOVERED" -->
        <!-- android:resource="@xml/nfc_tech_filter" -->
        <!-- /> -->


        <!-- </activity> -->

        <activity
            android:name=".ScanQR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScannerActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name=".services.BeaconService"
            android:enabled="true" />

        <activity
            android:name=".in_out_Activity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- <data android:mimeType="event/management" /> -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <data android:mimeType="event/management" /> -->
            </intent-filter>

            <!-- Add a technology filter -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        >
        <activity android:name=".PhotoActivity" />
        <activity android:name=".MyNFCScanActivity" />
        <activity android:name=".MyQRScanActivity" />
        <activity android:name=".Peugeot_In_Out_Activity"></activity>
    </application>

</manifest>